<div>
    <router-outlet></router-outlet>
</div>

<!-- TODO: -->
<!-- TAREA 4 -->
<!-- Parte 1: Crear página de registro dentro del módulo público. ver imagen en /src/assets/imagenes/rutas-app.png -->
<!-- Parte 2: Crear subpáginas de lista usuario y crear usuario en módulo usuario > página usuarios. ver imagen en /src/assets/imagenes/rutas-app.png -->
<!-- Parte 3: Crear un pipe que transforme una cantidad de segundos a minutos o a horas (puede retornar número o string) -->
<!-- Ejemplo, los 3120 son los segundos, igual que 3400 -->
<!-- Ejemplo 1: 3120 | tiempo: 'minutos' ===> 52 -->
<!-- Ejemplo 1: 3400 | tiempo: 'minutos' ===> 56,67 -->
<!-- Ejemplo 2: 3120 | tiempo: 'horas' ===> 0,87 -->

<!-- Nota: Las páginas, son sin código, sin formulario ni nada, solo un texto o algo para identificar la página/subpágina -->