<!-- <h1>{{title}}</h1>

<div *ngIf="loading;else noLoading">
    <p>Loading!</p>
</div>
<ng-template #noLoading>
    <p>NO LOADING!</p>
</ng-template>

<ng-container *ngIf="loading">
    <div *ngFor="let numero of numeros">
        <p>{{numero}}</p>
    </div>
</ng-container>

<app-hijo #elHijo [edadHijo]="numero" (onEdadChanged)="edadCambiada($event)"></app-hijo>

<p>Edad del Hijo</p>
<p>{{edadDelHijo}}</p>
<button (click)="cambiarEdadDelHijo()">Clickear Padre</button> -->

<!-- <app-detalle-producto></app-detalle-producto>
<app-lista-carros></app-lista-carros>
<app-lista-usuarios></app-lista-usuarios> -->

<app-lista-productos></app-lista-productos>