<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="'/modulo-usuario/inicio'">Inicio</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="'/modulo-usuario/lista-usuario'">Usuarios</a>
            </li>
            <li ngbDropdown class="d-inline-block">
                <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Productos</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem [routerLink]="'/modulo-usuario/productos/lista'">Lista Producto</button>
                    <button ngbDropdownItem [routerLink]="'/modulo-usuario/productos/crear'">Crear Producto</button>
                </div>
            </li>
        </ul>
    </div>
</nav>